/* app css stylesheet */

.blue {
  color: #3d81ee;
}

.navbar {
  background-color: #3d81ee;
  box-shadow: 0 1px 1px #ccc;
  border-radius: 2px;
}

.navbar a {
  display: inline-block;
  padding: 18px 30px;
  color: #fff !important;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none !important;
  line-height: 1;
  text-transform: uppercase;
  background-color: transparent;
  -webkit-transition: background-color 0.25s;
  -moz-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

md-sidenav {
  height: 100%;
  background-color: #3d81ee;
  min-width: 150px !important;
  width: 11vw !important;
/*  overflow: hidden;*/
  position: fixed;
  top: 65px;
  bottom: 0;
  /*  max-width: 100px !important;*/
}

md-content {
  background-color: #fff;
  height: 100%;
}

.navBtn {
  padding: 0 0 0 0;
  text-align: center;
  padding: 0 0px 0 0px;
  margin: 0px 0px 0px 0px;
  border-radius: 0px;
  font-size: 16px;
  color: #fff;
  line-height: 3;
}

.navBtn:hover {
  background-color: #123456;
}

.clickSide {
  padding-left: 0;
  padding-right: 0;
}


/*
.navbar-default {
  background-color: #3d81ee;
  border-color: #2d62b6;
  border-radius: 0;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #10ec47;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #10ec47;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #10ec47;
  background-color: #2d62b6;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #10ec47;
  background-color: #2d62b6;
}
.navbar-default .navbar-toggle {
  border-color: #2d62b6;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #2d62b6;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: rgb(59, 95, 137);
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #10ec47;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #10ec47;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #10ec47;
    background-color: #2d62b6;
  }
}

.carousel-control.left, .carousel-control.right {
   background-image:none !important;
   filter:none !important;
}*/