/* app css stylesheet */

body {
  overflow: hidden;
  background-color: #f6f6f6;
  font-family: 'Roboto', sans-serif;
}

md-whiteframe-z2 {
  background: #fff;
}

.catalog md-card {
  display: block;
}

.catalog md-card.flex-22 {
  max-height: 100%;
  box-sizing: border-box;
  -moz-box-flex: 1;
  -moz-flex: 1 1 24%;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 24%;
  -ms-flex: 1 1 24%;
  flex: 1 1 24%;
}

.catalog md-card.flex-22:first-child,
.catalog md-card.flex-22:nth-child(2) {
  -webkit-box-flex: 2;
  -webkit-flex: 2 46%;
  -ms-flex: 2 46%;
  flex: 2 46%;
}

.catalog md-card img {
  max-width: 100%;
}

@media (min-width: 600px) and (max-width: 959px) {
  html body .catalog md-card.flex-sm-46 {
    max-height: 100%;
    box-sizing: border-box;
    -webkit-box-flex: 2;
    -webkit-flex: 2 46%;
    -ms-flex: 2 46%;
    flex: 2 46%;
  }
}

@media (max-width: 599px) {
  html body .catalog md-card.flex-xs-80 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 80%;
    -ms-flex: 1 80%;
    flex: 1 80%;
  }
  html body .catalog md-card.flex-xs-80:first-child,
  html body .catalog md-card.flex-xs-80:nth-child(2) {
    -webkit-box-flex: 1;
    -webkit-flex: 1 80%;
    -ms-flex: 1 80%;
    flex: 1 80%;
  }
}

.content {
  padding: 24px;
}

.blue {
  color: #3d81ee;
}

.navbar {
  background-color: #154698;
  /*  box-shadow: 0 1px 1px #ccc;*/
}

.navbar a {
  display: inline-block;
  padding: 18px 30px;
  color: #fff !important;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none !important;
  line-height: 1;
  text-transform: uppercase;
  background-color: transparent;
  -webkit-transition: background-color 0.25s;
  -moz-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

md-icon .material-icons {
  display: block !important;
  color: black;
}

md-sidenav {
  height: 100%;
  background-color: #3d81ee;
  min-width: 150px !important;
  width: 11vw !important;
  /*  overflow: hidden;*/
  position: fixed;
  /*  top: 65px;*/
  bottom: 0;
  /*  max-width: 100px !important;*/
}

.md-sidenav-backdrop {
  opacity: 0 !important;
}

md-content {
  background-color: #fff;
  height: 100%;
}

.navBtn {
  min-height: 64px;
  padding: 0px;
  text-align: center;
  margin: 0px 0px 0px 0px;
  border-radius: 0px;
  font-size: 16px;
  color: #fff;
  line-height: 4;
}

.quizBtn {
  background-color: #3d81ee;
  font-size: 16px;
  color: #fff;
  border-radius: 10px 10px 10px 10px;
}

.quizBtn:not([disabled]):hover {
  /* Should probably change this at some point */
  background-color: #123456;
}

.quizBtn[disabled] {
  background-color: lightgray;
}

.quizIntro {
  font-size: 2em;
  padding: 0em 1.5em 1em 1.5em;
}

.quizArea {
  padding: 0em 0em 0em 1em;
}

.quizChoices {
  padding: 0em 0em 0em 1em;  
}


/* Click Facts */

.factSheet md-card {
  display: block;
}

.factSheet md-card.flex-22 {
  box-sizing: border-box;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 24%;
  -ms-flex: 1 1 24%;
  flex: 1 1 20%;
}

@media (min-width: 600px) and (max-width: 959px) {
  html body .factSheet md-card.flex-sm-46 {
    max-height: 100%;
    box-sizing: border-box;
    -webkit-box-flex: 2;
    -webkit-flex: 2 46%;
    -ms-flex: 2 46%;
    flex: 2 46%;
  }
}

@media (max-width: 599px) {
  html body .factSheet md-card.flex-xs-80 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 80%;
    -ms-flex: 1 80%;
    flex: 1 80%;
  }
}


/* Flipper */

.factSheet .flip {
  -webkit-perspective: 800;
  perspective: 800;
}

.factSheet .flip .factCard.flipped {
  -webkit-transform: rotatex(-180deg);
  transform: rotatex(-180deg);
}

.factSheet .flip .factCard {
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.75s;
  transform-style: preserve-3d;
  transition: 0.75s;
  cursor: pointer;
  min-height: 200px;
  min-width: 136px;
}

.factSheet .flip .factCard .face {
  position: relative;
  filter: blur(0px);
  -webkit-filter: blur(0px);
  z-index: 2;
}

.factSheet .flip .factCard.flipped .front {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  font-size: 3em;
}

.factSheet .flip .factCard .back {
  height: 0px;
  -webkit-transform: rotatex(-180deg);
  transform: rotatex(-180deg);
  color: transparent;
  word-wrap: break-word;
  text-align: left;
}

.factSheet .flip .factCard.flipped .back {
  -webkit-text-stroke: .03em black;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  color: #3d81ee;
  font-size: 3em;
}