<div class="quizArea" ng-show="inProgress">
  <div ng-show="!quizOver">
    <div layout="row">
      <h2 id="question">{{question}}</h2>
    </div>
    <!-- Check if valid before submitting -->
    <form name="choices" class="quizChoices" ng-submit="choices.$valid && checkAnswer()">
      <md-radio-group ng-disabled="!answerMode" ng-model="selected" required>
        <md-radio-button ng-repeat="option in options" value="{{option}}" ng-disabled="!answerMode" aria-label="fart">
          {{option}}
        </md-radio-button>
      </md-radio-group>

      <md-button type="submit" class="quizBtn" ng-show="answerMode" ng-disabled="!choices.$valid" flex>Submit</md-button>
    </form>

    <div ng-show="!answerMode">
      <md-button class="quizBtn" ng-click="nextQuestion()" class="next-question btn btn-primary">Quiz on!</md-button>
      <br/>
      <!-- TODO: Eventually make this a dialog? -->
      <span ng-show="correctAns">That is correct!</span>
      <span ng-show="!correctAns">Sorry, wrong! The answer is "{{options[correct]}}".</span>
    </div>

    <div class="quizScore" id="score" ng-show="inProgress || quizOver">
      <h2>Score: {{score}}</h2>
    </div>

  </div>

  <div ng-show="quizOver">
    <h2>Quiz over!</h2>
    <p>Click the rewind button on the magic remote that Adam Sandler has in the movie Click to play again!</p>
    <md-button class="quizBtn" ng-click="reset()">Rewind</button>
  </div>
</div>

<div class="intro" ng-show="!inProgress">
  <p>Click!</p>
  <p>Click 'Play' on the magic remote that Adam Sandler has in the movie Click to start the quiz!</p>
  <md-button id="startQuiz" class="quizBtn" ng-click="start()">Play</button>
</div>