<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>This Movie is Click!</title>
  <meta name="description" content="">
  <meta name="theme-color" content="#3d81ee">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Angular Material requires Angular.js Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-aria.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.4/angular-material.min.js"></script>
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.4/angular-material.min.css">

  <!--  Material Icons -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.6.0/angular-material-icons.min.js"></script>

  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="app.css">
</head>

<body ng-controller="AppCtrl" ng-app="clickApp" layout="row" ng-cloak>

  <div layout="row" layout-fill>
    <md-sidenav layout="column" class="md-sidenav" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
      <!--      There's got to be a better way to center this button -->
      <section layout="column navBtn" ng-click="toggleLeft()" layout-align="center center">
        <md-button class="md-icon-button navBtn" hide-gt-md>
          <ng-md-icon icon="menu" style="fill: #fff"></ng-md-icon>
        </md-button>
      </section>
      <section layout="column" layout-align="stretch center">
        <md-button class="navBtn" ng-click="toggleLeft()" ng-href="#/clickHome">Home</md-button>
        <md-button class="navBtn" ng-click="toggleLeft()" ng-href="#/clickQuiz">Quiz</md-button>
        <md-button class="navBtn" ng-click="toggleLeft()" ng-href="#/clickFacts">Facts</md-button>
        <md-button class="navBtn" ng-click="toggleLeft()" ng-href="#/clickAbout">About</md-button>
      </section>
    </md-sidenav>
    <md-content layout="column" role="main" flex>
      <md-toolbar>
        <div class="md-toolbar-tools navbar" layout="row" layout-fill ng-click="toggleLeft()">
          <md-button class="md-icon-button" hide-gt-md>
            <ng-md-icon icon="menu" style="fill: #fff" layout-align="center center"></ng-md-icon>
          </md-button>
          {{ topNavTitle }}
          <span flex></span>This Movie is Click!
        </div>
      </md-toolbar>

      <md-content id="content" role="content" layout="column" layout-padding ng-cloak>
        <md-content class="md-whiteframe-z2" ng-cloak>
          <ng-view></ng-view>
        </md-content>
      </md-content>

    </md-content>
  </div>

  <script src="app.js"></script>
  <script src="clickHome/clickHome.js"></script>
  <script src="clickQuiz/clickQuiz.js"></script>
  <script src="clickFacts/clickFacts.js"></script>
  <script src="clickAbout/clickAbout.js"></script>

</body>

</html>