  <div class="container">
    <h1 class="title">Click Quiz, hotshot!</h1>
    <quiz/>
  </div>
  
<!--
  <div class="quiz-area" ng-show="inProgress">
    <div ng-show="!quizOver">
      <h2 id="question">{{question}}</h2>
      <ul id="options">
        <li ng-repeat="option in options">
          <label>
            <input type="radio" name="answer" value="{{option}}">
            {{option}}
          </label>
        </li>
      </ul>
      
      <button type="button" class="btn btn-primary" ng-click="checkAnswer()" ng-show="answerMode">Submit</button>
      
      <div ng-show="!answerMode">
        <button ng-click="nextQuestion()" class="btn btn-primary next-question">Quiz on!</button>
        <span ng-show="correctAns">That is correct!</span>
        <span ng-show="!correctAns">Sorry, wrong!</span>
      </div>
      
    </div>
    
    <div ng-show="quizOver">
      <h2>Quiz over!</h2>
      <button type="button" class="btn btn-primary" ng-click="reset()">Click again!</button>
    </div>
  </div>

  <div class="intro" ng-show="!inProgress">
    <p>Click!</p>
    <button id="startQuiz" ng-click="start()">Start the Quiz</button>
  </div>

  <div id="score">
    Score: {{score}}
  </div>

  
  Who starred in the movie Click?
  <br>
  <div class="btn-group">
    <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Left'">Adam Sandler!</label>
    <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Middle'">Saddam Andler!</label>
    <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Right'">Adam Chandler!</label>
  </div>

  <br>
  <br>
  <button type="button" class="btn btn-primary">
    Magic Remote!
  </button>
  <br>
  <br>
  <button type="button" class="btn btn-primary" popover-placement="right" popover-trigger="mouseenter" uib-popover="Was he in that movie?">
    Christopher Walken(?)!
  </button>

</div>-->
